/build
/cmake-build*
# */build
UI/dependencies
/.vscode/
analysis.txt
.ccls-cache
/.idea/
/Release/
# /tests/*.bin
# /tests/*.txt
# /tests/*.csv
# /tests/binary/*
# /tests/parquet/*
# tests/netcdf4/
tests/CMakeFiles/
/benchmark/*.bin
#/benchmark/*.txt
/benchmark/*.csv
/benchmark/binary/*
/benchmark/parquet/*
/scripts/dependencies/
/.cache/
*/.cache/
tests/binary/
tests/parquet/
/CMakeFiles
.DS_Store
/tests/CMakeFiles/
/tests/CTestTestfile.cmake
/tests/Makefile
/tests/cmake_install.cmake
# */TestData/
/cmake-build-debug/
/logs/
*/logs/
*/*.log
UI/data
UI/build
cmake/build
/cmake-build/
librdkafka_build/
# Python compiled extensions
*.so
*.pyd
*.dll
*.venv/
__pycache__/

*output/

*plots_temp/
CMakeUserPresets.json

*.data/